.company__container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.company__title {
	font-size: var(--tab-title-font-size);
	font-weight: var(--tab-title-font-weight);
	color: var(--tab-title-color);
}
.main {
	padding: var(--tab-padding);
}
.company__img {
	width: var(--company-img-width);
	height: var(--company-img-height);
	margin-bottom: 36px;
}
.company__item {
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
