.media-tab__title {
	font-size: var(--tab-title-font-size);
	font-weight: var(--tab-title-font-weight);
	color: var(--tab-title-color);
}
.media__logo {
	font-size: var(--logo-font-size);
	font-weight: var(--logo-font-weight);
	color: var(--logo-color);
	margin-bottom: var(--logo-margin-bottom);
}
.media__ul {
	display: flex;
	overflow: auto;
}
.media__ul::-webkit-scrollbar {
	height: 3px;
}
.media__ul::-webkit-scrollbar-track {
	background-color: #ffc1b2;
}
.media__ul::-webkit-scrollbar-thumb {
	background-color: #fe8a7e;
	border-radius: 200px;
}

.media__img {
	width: var(--media-img-width);
	height: var(--media-img-height);
	margin-bottom: var(--img-margin-bottom);
}
.media__li {
	padding: 20px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.media {
	margin-top: 50px;
}

.media-tab {
	padding: var(--tab-padding);
}
.media__title {
	color: #b5aa99;
}
