#intro-img {
	background-image: url("https://images.unsplash.com/photo-1548115184-bc6544d06a58?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80");
	background-size: cover;
	background-position: center;
	overflow: hidden;
	background-repeat: no-repeat;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

#intro-img__intro a {
	font-weight: 700;
	font-size: 23vw;
	color: white;
	text-decoration: none;
	position: relative;
	bottom: -50px;
}

#intro-img__intro:hover {
	transform: translate(-20px, -20px);
}
