.media-tab__title {
	font-size: 30px;
	font-weight: 700;
	color: #4e4537;
}
.media__logo {
	font-size: 25px;
	font-weight: 500;
	color: #68a08f;
	margin-bottom: 10px;
}
.media__ul {
	display: flex;
	overflow: auto;
}
.media__ul::-webkit-scrollbar {
	height: 10px;
}
.media__ul::-webkit-scrollbar-track {
	background-color: #ffc1b2;
}
.media__ul::-webkit-scrollbar-thumb {
	background-color: #fe8a7e;
	border-radius: 200px;
}
.media__image {
	width: var(--media-img-width);
	height: var(--media-img-height);

	margin-bottom: 10px;
}
.media__li {
	padding: 20px;
	text-align: center;
}

.media {
	margin-top: 50px;
}

.media-tab {
	padding: 30px;
}
.media__title {
	color: #b5aa99;
}
