.header__nav {
	display: flex;
	width: 80%;
	background-color: white;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	position: relative;
	top: -5px;
	color: #007b9b;
}

.header {
	display: flex;
	justify-content: center;
	height: 80px;
	align-items: center;
}
.header__title {
	font-size: 72px;
	font-weight: 800;
	width: 33%;
	text-align: center;
	text-shadow: 5px 5px 2px #00a1a3;
}
.header__nav {
	display: flex;
	align-items: center;
	justify-content: center;
}
.header__column {
	display: flex;
	width: 33%;
	justify-content: center;
}
.header__link {
	width: 130px;
	text-align: center;
}

.header__link a {
	color: #007b9b;
}
