/* variables */
@import "variables.css";
/* reset */
@import "reset.css";
/* components */
@import "components/header.css";
@import "components/footer.css";
@import "components/chicken-tab.css";
@import "components/kimchi-tab.css";
@import "components/bibimbap.css";
@import "components/bulgogi.css";
@import "components/tteokbokki.css";
/* screens */
@import "screens/intro.css";
@import "screens/media.css";
@import "screens/foods.css";
/* font */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

body {
	font-family: "Ubuntu", sans-serif;
	background-color: var(--main-bg-color);
}

body::-webkit-scrollbar {
	width: 14px;
}
body::-webkit-scrollbar-track {
	background-color: #ffc1b2;
}
body::-webkit-scrollbar-thumb {
	background-color: #fe8a7e;
	border-radius: 200px;
}
.cover-screen {
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: var(--main-bg-color);
	font-size: 72px;
	font-weight: 700;
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0px;
}
@media (min-width: 880px) {
	.cover-screen {
		display: none;
	}
}

.hidden {
	display: none;
}

.close-button {
	border: none;
	background-color: transparent;
	color: #c1554d;
	font-size: 25px;
	cursor: pointer;
}
